.btn-forget {
    padding: 15px 0;
    width: 70%;
    border-radius: 10px;
    background-color: var(--color--bringht-yellow) !important;
    color: var(--color-duno);
    border: none;
}

.reset-account {

}

.reset-account input {
    border-radius: 10px;
    padding: 10px 0;
    text-indent: 25px;
    border: 1.5px solid var(--color--bringht-yellow) !important;
}
.btn-back {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-lead-green);
  
}